@model IEnumerable<cmcglynn_financialPortal.Models.CodeFirst.Budgets>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">BUDGETS</h2>


<p>
    @Html.ActionLink("Add Budget", "Create")
</p>

<div class="col-md-12">
    <div class="panel panel-filled">
        <div class="row">
            @foreach (var budget in Model)
            {
                <div class="col-md-4">
                    <div class="panel-body h-200 list">
                        <div class="stats-title pull-left">
                            <h4>@budget.Frequency.Name: @budget.Category.Name (@budget.BudgetPercentage%)</h4>
                        </div>
                        <div class="m-t-xl">
                            <small>
                                @budget.Description
                            </small>
                        </div>
                        <div class="progress m-t-xs full progress-small">
                            <div style="width: @budget.BudgetPercentage%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@budget.BudgetPercentage" role="progressbar" class=" progress-bar progress-bar-success">
                                <span class="sr-only">@budget.BudgetPercentage% Spent</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <small class="stat-label">Budgeted Amount</small>
                                <h4 class="m-t-xs">$ @budget.Amount <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                            <div class="col-md-6 text-nowrap">
                                <small class="stat-label">Amount Spent</small>
                                <h4 class="m-t-xs">$ @budget.SpentAmount <i class="fa fa-level-down text-success"></i></h4>
                                <div style="display:inline-flex">
                                    <a href="@Url.Action("Edit", "Budgets", new { id = budget.Id })"><i class="fa fa-pencil-square" style="font-size:18px"></i></a> |
                                    <a href="@Url.Action("Details", "Budgets", new { id = budget.Id })"><i class="fa fa-file-text" style="font-size:16px"></i></a> |
                                    <a href="@Url.Action("Delete", "Budgets", new { id = budget.Id })"><i class="fa fa-trash" style="font-size:18px"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="MyTable" class="table table-vertical-align-middle">
                <thead>
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Author.FirstName)
                            </th>*@
                        <th>
                            Type
                            @*@Html.DisplayNameFor(model => model.BudgetType.Name)*@
                        </th>
                        <th>
                            Category
                            @*@Html.DisplayNameFor(model => model.Category.Name)*@
                        </th>
                        <th>
                            Frequency
                            @*@Html.DisplayNameFor(model => model.Frequency.Name)*@
                        </th>
                        <th>
                            Household
                            @*@Html.DisplayNameFor(model => model.HouseHold.Name)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Item)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>Spent</th>
                        <th>Percentage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.BudgetPercentage != null && item.BudgetPercentage >= 80)
                        {
                            <tr style="color: red">
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Author.FirstName)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.BudgetType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Frequency.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HouseHold.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Item)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @if (item.SpentAmount != null)
                                    {

                                        @item.SpentAmount
                                    }
                                </td>
                                <td>
                                    @if (item.BudgetPercentage != null)
                                    {
                                        @item.BudgetPercentage <span> %</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Author.FirstName)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.BudgetType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Frequency.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HouseHold.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Item)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @if (item.SpentAmount != null)
                                    {

                                        @item.SpentAmount
                                    }
                                </td>
                                <td>
                                    @if (item.BudgetPercentage != null)
                                    {
                                        @item.BudgetPercentage <span> %</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="col-md-8">
    <div class="col-lg-6">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-3" aria-expanded="true"> <i class="fa fa-laptop"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false"><i class="fa fa-desktop"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false"><i class="fa fa-database"></i></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-3" class="tab-pane active">
                    <div class="panel-body">
                        <strong class="c-white">Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>
                        <p>
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                            existence in this spot, which was created for the bliss of souls like mine.
                        </p>
                        <p>
                            I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                            the present moment; and yet I feel that I never was a greater artist than now. When.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@section scripts{
    <script src="~/Assets/vendor/datatables/datatables.min.js"></script>


    <script>
        $("#MyTable").DataTable();
    </script>

    <script src="~/Assets/scripts/luna.js"></script>

    <script>
        $(document).ready(function () {

            $('#tableExample1').DataTable({
                "dom": 't'
            });

            $('#tableExample2').DataTable({
                "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "lengthMenu": [[6, 25, 50, -1], [6, 25, 50, "All"]],
                "iDisplayLength": 6,
            });

            $('#tableExample3').DataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ]
            });

        });
    </script>
}
