@model cmcglynn_financialPortal.Models.CodeFirst.HouseHold

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model.Accounts.Count() == 0)
{
    <p>Before viewing information associated with your household, you must create an account href="@Url.Action("Create", "Accounts")".</p>
}
else
{
    if (Model.Accounts.SelectMany(a => a.Transactions).Count() == 0)
    {
        <p>One last step: click the "new transaction" button to add a transaction.</p>
    }
    else
    {
        
    }
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
