@using cmcglynn_financialPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

        <!-- Main content-->
        <section>
            <div class="back-link">
                @*<ahref ="index.html" class="btn btn-accent">Back to Dashboard</a>*@
            </div>
            <div class="container-center animated slideInDown" style="margin: 5% auto 0">

                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-unlock"></i>
                    </div>
                    <div class="header-title">
                        <h3>Login</h3>
                        <small>
                            Please enter your credentials to login.
                        </small>
                    </div>
                </div>
                <div class="panel panel-filled">
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Use a local account to log in.</h4>
                            <hr />

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="text" placeholder="example@gmail.com" title="Enter your username" required="" value="" name="Email" id="username" class="form-control">
                                <span class="help-block small">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Enter your password" placeholder="******" required="" value="" name="Password" id="password" class="form-control">
                                <span class="help-block small">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-accent">Login</button>
                                <a class="btn btn-default" href="@Url.Action("Register","Account")">Register</a>
                            </div>              
                        }    
                        <hr />
                        <center>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="Email" value="qpc4ever@gmail.com" hidden />
                                <input name="Password" value="Qpc4ever2!" hidden />
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-full-width btn btn-accent" value="Guest User" />
                                </div>             
                            }
                        </center>
                    </div>
                </div>
            </div>
        </section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}