@model cmcglynn_financialPortal.Models.CodeFirst.Accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseHold.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseHold.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reconcialed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reconcialed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionsId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
