<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="~/Assets/images/PNGPIX-COM-Dollar-Sign-PNG-Image.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Page title -->
    <title>Chris McGlynn | Quick-Budgeter</title>
    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/Assets/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Assets/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/vendor/toastr/toastr.min.css" />
    <!-- App styles -->
    <link rel="stylesheet" href="~/Assets/styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/Assets/styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="~/Assets/styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="~/Assets/styles/style.css">
</head>
<body>
    <!-- Wrapper-->
    <div class="wrapper">
        <!-- Header-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div id="mobile-menu">
                        <div class="left-nav-toggle">
                            <a href="~/Assets/#">
                                <i class="stroke-hamburgermenu"></i>
                            </a>
                        </div>
                    </div>
                    <div>


                    </div>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;text-decoration: underline; font-family:'Goudy Old Style'; padding-bottom:10px;">
                        QUICK BUDGETER<i></i>
                        <span></span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="left-nav-toggle">
                        <a href="~/Assets/">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search data for analysis" style="width: 175px">
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="~/Assets/versions.html">
                                NOTIFICATIONS
                                <span class="label label-warning pull-right">2</span>
                            </a>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End header-->
        <!-- Navigation-->
        <aside class="navigation">
            <nav>
                <ul class="nav luna-nav">
                    <li class="nav-category">
                        @*Main*@
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")"><i class="pe-7s-monitor text-accent">&nbsp;&nbsp;</i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                            <i class="pe-7s-home text-accent">&nbsp;&nbsp;</i>
                            Households<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                        </a>
                        <ul id="monitoring" class="nav nav-second collapse">
                            <li><a href="@Url.Action("Index", "HouseHolds")">My Household</a></li>
                            <li><a href="@Url.Action("Index", "Budgets")">My Budgets</a></li>
                            @*<li><a href="~/Assets/activity.html"> Activity</a></li>*@
                        </ul>
                    </li>

                    @if (@ViewBag.HouseHold != null)
            {
                       
                    <li>
                        <a href="#uielements" data-toggle="collapse" aria-expanded="false">
                            <i class="pe-7s-piggy text-accent">&nbsp;&nbsp;</i>
                            Accounts<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                        </a>
                        <ul id="uielements" class="nav nav-second collapse">
                            <li><a href="@Url.Action("Index", "Accounts")">My Accounts</a></li>
                            <li><a href="@Url.Action("Create", "Accounts")">Add Account</a></li>
                            @*<li><a href="~/Assets/activity.html"> Activity</a></li>*@
                        </ul>
                    </li>
                    }
                    else
                    {
                        @*<span>NO HOUSEHOLD</span>*@
                    }
                    <li class="active">
                        <a href="@Url.Action("Index", "Manage")"><i class="pe-7s-add-user text-accent">&nbsp;&nbsp;</i>Profile</a>
                    </li>
                    @*<li class="nav-category">
                            UI Elements
                        </li>
                        <li>
                            <a href="~/Assets/#uielements" data-toggle="collapse" aria-expanded="false">
                                General<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                            </a>*@
                    @*<ul id="uielements" class="nav nav-second collapse">
                                <li><a href="~/Assets/panels.html">Panels</a></li>
                                <li><a href="~/Assets/typography.html">Typography</a></li>
                                <li><a href="~/Assets/icons.html">Icons</a></li>
                                <li><a href="~/Assets/buttons.html">Buttons</a></li>
                                <li><a href="~/Assets/tabs.html">Tabs</a></li>
                                <li><a href="~/Assets/modals.html">Modals</a></li>
                                <li><a href="~/Assets/alerts.html">Alerts</a></li>
                                <li><a href="~/Assets/loaders.html">Loaders</a></li>
                                <li><a href="~/Assets/gridSystem.html">Grid system</a></li>
                                <li><a href="~/Assets/draggable.html">Draggable</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Assets/#tables" data-toggle="collapse" aria-expanded="false">
                                Tables design<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                            </a>
                            <ul id="tables" class="nav nav-second collapse">
                                <li><a href="~/Assets/tableStyles.html">Table styles</a></li>
                                <li><a href="~/Assets/dataTables.html">Data Tables</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Assets/#forms" data-toggle="collapse" aria-expanded="false">
                                From controls <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                            </a>
                            <ul id="forms" class="nav nav-second collapse">
                                <li><a href="~/Assets/formElements.html"> Basic elements </a></li>
                                <li><a href="~/Assets/autocomplete.html"> Autocomplete </a></li>
                                <li><a href="~/Assets/controls.html"> Selection controls </a></li>
                                <li><a href="~/Assets/textEditor.html"> Text editor </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Assets/#charts" data-toggle="collapse" aria-expanded="false">
                                Charts and graphs<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                            </a>
                            <ul id="charts" class="nav nav-second collapse">
                                <li><a href="~/Assets/flotCharts.html">Flot charts</a></li>
                                <li><a href="~/Assets/chartJs.html">ChartJS</a></li>
                                <li><a href="~/Assets/sparkline.html">Sparkline</a></li>
                                <li><a href="~/Assets/datamaps.html">Datamaps</a></li>
                            </ul>
                        </li>
                        <li class="nav-category">
                            App Pages
                        </li>
                        <li>
                            <a href="~/Assets/#extras" data-toggle="collapse" aria-expanded="false">
                                Basic <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                            </a>
                            <ul id="extras" class="nav nav-second collapse">
                                <li><a href="~/Assets/profile.html">Profile</a></li>
                                <li><a href="~/Assets/contacts.html">Contacts</a></li>
                                <li><a href="~/Assets/projects.html">Projects</a></li>
                                <li><a href="~/Assets/support.html">Support</a></li>
                                <li><a href="~/Assets/nestableList.html">List</a></li>
                                <li><a href="~/Assets/timeline.html">Timeline</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Assets/#common" data-toggle="collapse" aria-expanded="false">
                                Common <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                            </a>
                            <ul id="common" class="nav nav-second collapse">
                                <li><a href="~/Assets/login.html">Login</a></li>
                                <li><a href="~/Assets/register.html">Register</a></li>
                                <li><a href="~/Assets/forgotPassword.html">Forgot password</a></li>
                                <li><a href="~/Assets/error.html">Error page</a></li>
                            </ul>
                        </li>*@
                    @*<li>
                            <a href="~/Assets/versions.html">
                                <span class="badge pull-right">2</span>
                                Versions
                            </a>
                        </li>*@
                    <li class="nav-info">
                        <i class="pe pe-7s-cash text-accent"></i>
                        <div class="m-t-xs">

                            <span class="c-white">@*LUNA*@</span> To create a household, click "Household" in the side-bar. Then click "Create/Join." If you want to invite other users to your household, you can invite them via your Household page, which will be selectable in the sidebar under "Household" once you are part of a household.<hr />
                            To join a household, click the link in your invitation email, then proceed to the Join section of the Create/Join page. Simply click "Join" and you're all set!<hr />
                            Once you're in a household, you will want to link your bank accounts. To do this, click "Accounts" in the side-bar, then click "Add Account."<hr />
                            After you have at least one account linked to your household, you can add a new transaction from anywhere on the site via the "New Transaction" button on the nav-bar.
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- End navigation-->
        <!-- Main content-->
        <div style="margin-left: 300px; margin-top: 100px; margin-right: 300px">
            <section>
                <div class="container-fluid" style="padding: 0px">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="view-header">
                                <div class="pull-right text-right" style="line-height: 14px">
                                    <div>
                                        <a href="@Url.Action("Create", "Transactions")" class="btn btn-accent">NEW TRANSACTION</a>
                                    </div>
                                    <small>@*Luna Admin Theme*@<br>@*Dashboard*@<br> <span class="c-white"></span></small>
                                </div>
                                <div class="header-icon">
                                    <i class="pe page-header-icon pe-7s-cash"></i>
                                </div>
                                <div class="header-title">
                                    <h3 class="m-b-xs">
                                        @if (@ViewBag.HouseHold != null)
                                        {
                                            @ViewBag.HouseHold
                                            <img src="@ViewBag.ProfilePic"/>
                                        }
                                        else
                                        {
                                            <span> NO HOUSEHOLD </span>
                                        }
                                    </h3>
                                    <small>
                                        @*Special minimal admin theme with Dark UI style for monitoring or administration web applications.*@
                                    </small>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
            @RenderBody()
        </div>
        <!-- End main content-->
    </div>
    <!-- End wrapper-->
    <!-- Vendor scripts -->
    @*<script src="~/Assets/vendor/pacejs/pace.min.js"></script>*@
    <script src="~/Assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/vendor/toastr/toastr.min.js"></script>
    <script src="~/Assets/vendor/sparkline/index.js"></script>
    <!-- App scripts -->
    <script src="~/Assets/scripts/luna.js"></script>
    @*<script>
            $(document).ready(function () {


                // Sparkline charts
                var sparklineCharts = function () {
                    $(".sparkline").sparkline([20, 34, 43, 43, 35, 44, 32, 44, 52, 45], {
                        type: 'line',
                        lineColor: '#FFFFFF',
                        lineWidth: 3,
                        fillColor: '#404652',
                        height: 47,
                        width: '100%'
                    });

                    $(".sparkline7").sparkline([10, 34, 13, 33, 35, 24, 32, 24, 52, 35], {
                        type: 'line',
                        lineColor: '#FFFFFF',
                        lineWidth: 3,
                        fillColor: '#f7af3e',
                        height: 75,
                        width: '100%'
                    });

                    $(".sparkline1").sparkline([0, 6, 8, 3, 2, 4, 3, 4, 9, 5, 3, 4, 4, 5, 1, 6, 7, 15, 6, 4, 0], {
                        type: 'line',
                        lineColor: '#2978BB',
                        lineWidth: 3,
                        fillColor: '#2978BB',
                        height: 170,
                        width: '100%'
                    });

                    $(".sparkline3").sparkline([-8, 2, 4, 3, 5, 4, 3, 5, 5, 6, 3, 9, 7, 3, 5, 6, 9, 5, 6, 7, 2, 3, 9, 6, 6, 7, 8, 10, 15, 16, 17, 15], {

                        type: 'line',
                        lineColor: '#fff',
                        lineWidth: 3,
                        fillColor: '#393D47',
                        height: 70,
                        width: '100%'
                    });

                    $(".sparkline5").sparkline([0, 6, 8, 3, 2, 4, 3, 4, 9, 5, 3, 4, 4, 5], {
                        type: 'line',
                        lineColor: '#f7af3e',
                        lineWidth: 2,
                        fillColor: '#2F323B',
                        height: 20,
                        width: '100%'
                    });
                    $(".sparkline6").sparkline([0, 1, 4, 2, 2, 4, 1, 4, 3, 2, 3, 4, 4, 2, 4, 2, 1, 3], {
                        type: 'bar',
                        barColor: '#f7af3e',
                        height: 20,
                        width: '100%'
                    });

                    $(".sparkline8").sparkline([4, 2], {
                        type: 'pie',
                        sliceColors: ['#f7af3e', '#404652']
                    });
                    $(".sparkline9").sparkline([3, 2], {
                        type: 'pie',
                        sliceColors: ['#f7af3e', '#404652']
                    });
                    $(".sparkline10").sparkline([4, 1], {
                        type: 'pie',
                        sliceColors: ['#f7af3e', '#404652']
                    });
                    $(".sparkline11").sparkline([1, 3], {
                        type: 'pie',
                        sliceColors: ['#f7af3e', '#404652']
                    });
                    $(".sparkline12").sparkline([3, 5], {
                        type: 'pie',
                        sliceColors: ['#f7af3e', '#404652']
                    });
                    $(".sparkline13").sparkline([6, 2], {
                        type: 'pie',
                        sliceColors: ['#f7af3e', '#404652']
                    });
                };

                var sparkResize;

                // Resize sparkline charts on window resize
                $(window).resize(function () {
                    clearTimeout(sparkResize);
                    sparkResize = setTimeout(sparklineCharts, 100);
                });

                // Run sparkline
                sparklineCharts();


                // Flot charts data and options
                var data1 = [[0, 16], [1, 24], [2, 11], [3, 7], [4, 10], [5, 15], [6, 24], [7, 30]];
                var data2 = [[0, 26], [1, 44], [2, 31], [3, 27], [4, 36], [5, 46], [6, 56], [7, 66]];

                var chartUsersOptions = {
                    series: {
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 1

                        }

                    },
                    grid: {
                        tickColor: "#404652",
                        borderWidth: 0,
                        borderColor: '#404652',
                        color: '#404652'
                    },
                    colors: ["#f7af3e", "#DE9536"]
                };

                $.plot($("#flot-line-chart"), [data2, data1], chartUsersOptions);


                // Run toastr notification with Welcome message
                setTimeout(function () {
                    toastr.options = {
                        "positionClass": "toast-top-right",
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing",
                        "timeOut": "6000"
                    };
                    toastr.warning('<strong>You entered to LUNA</strong> <br/><small>Premium admin theme with Dark UI style. </small>');
                }, 1600)


            });
        </script>*@
    @RenderSection("scripts", required: false)
</body>
</html>